[core]
	excludesfile = ~/.gitignore_global
	editor = vim
	autocrlf = input

[alias]
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	backup = branch --force backup
	submodule-update = submodule update --init --recursive
	fetch-checkout-branch = "!f() { git fetch "$3" && git checkout "$1" && git checkout -b "$2"; }; f"
	fetch-rebase = "!f() { git fetch "$2" && git rebase "$1"; }; f"
	rm-orig = "!f() { git status -s | awk '{if ($1 == \"??\") print substr($0, index($0, $2))}' | grep '.orig$' | xargs -I {} rm '{}'; }; f"
	ls-skip-worktree = "!f() { git ls-files -v | grep '^S'; }; f"
	ls-assume-unchanged = "!f() { git ls-files -v | grep '^h'; }; f"
[push]
	default = current

[merge]
	tool = meld
	#tool = kdiff3
	#tool = opendiff

[mergetool "meld"]
	trustExitCode = true
	cmd = open -W -n -a Meld --args --auto-merge \"$(git rev-parse --show-toplevel)/${LOCAL}\" \"$(git rev-parse --show-toplevel)/${BASE}\" \"$(git rev-parse --show-toplevel)/${REMOTE}\" --output=\"$(git rev-parse --show-toplevel)/${MERGED}\"

[mergetool "kdiff3"]
	path = /Applications/kdiff3.app/Contents/MacOS/kdiff3

[user]
    name = null
    email = null
