[core]
	excludesfile = ~/.gitignore_global
	editor = vim
	autocrlf = input
[alias]
	lol = log --graph --decorate --pretty=oneline --abbrev-commit --all
[push]
	default = current
[merge]
	tool = kdiff3
[mergetool "kdiff3"]
	path = /Applications/kdiff3.app/Contents/MacOS/kdiff3
