[core]
	excludesfile = ~/.gitignore_global
	editor = vim
	autocrlf = input
[alias]
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	backup = branch --force backup
	fetch-checkout-branch = "!f() { git fetch "$3" && git checkout "$1" && git checkout -b "$2"; }; f"
[push]
	default = current
[merge]
	tool = kdiff3
	# tool = opendiff
[mergetool "kdiff3"]
	path = /Applications/kdiff3.app/Contents/MacOS/kdiff3
[user]
    name = null
    email = null
